
.project-card, .project-card-img, .pagination-item > * {
  border-radius: 0!important;
}

code, pre {
  font-family: monospace!important;
}

blockquote {
  border-left: none!important;

  &.lead {
    padding-left: 2rem;
  }
}

.avatar {
  border-radius: 0;
}

a {
  border-bottom: none!important;
  text-decoration: underline!important;
}

.sidebar-social a, .menu {
  text-decoration: none!important;
}